In [1]:
import re
import nltk

import pandas as pd
import numpy as np

In [2]:
df_train = pd.read_csv('train_tweets.csv',encoding='utf-8')
df_test = pd.read_csv('test_tweets.csv',encoding='utf-8')

In [3]:
df_train.drop("label",axis=1,inplace=True)

In [4]:
df = pd.concat([df_train,df_test],axis=0,ignore_index=True)

In [5]:
df.head()

   id                                              tweet
0   1   @user when a father is dysfunctional and is s...
1   2  @user @user thanks for #lyft credit i can't us...
2   3                                bihday your majesty
3   4  #model   i love u take with u all the time in ...
4   5             factsguide: society now    #motivation

In [6]:
def replace_pattern(pattern, repl, string):
    return re.sub(pattern, repl, string)
df.tweet = np.vectorize(replace_pattern)(r'@[\w]*', ' ', df.tweet)

In [7]:
df.tweet.head()

0       when a father is dysfunctional and is so se...
1        thanks for #lyft credit i can't use cause ...
2                                  bihday your majesty
3    #model   i love u take with u all the time in ...
4               factsguide: society now    #motivation
Name: tweet, dtype: object